<ul id="nav">
  <li id="search" style="display:none;">  
  <% form_tag search_pages_url, :method => 'get' do -%>
     <%= text_field_tag :query, params[:query], :size => 15, :id => :search_box -%>
  <% end -%>
  </li>
  <li><%= link_to_function "search", "$('search').toggle(); $('search_box').focus();" %></li>
	<li class="admin"><%= link_to "settings", site_path %></li>
	<li class="logged_in"><%= link_to "logout", logout_path %></li>
	<li class="logged_out"><%= link_to "login", login_path %></li>
	<li class="logged_out"><%= link_to "signup", new_user_path %></li>
  <li><%= link_to "users", users_path %></li>
</ul>