  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Body</b><br />
	<%= textile_editor 'page', 'body'-%>
  </p>

  <p>
    <%= f.check_box :private %> <b>Make page private</b>
	
  <p>

  <p>
    <%= f.submit @button_text %>
  </p>
<%= textile_editor_initialize -%>