  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Body</b><br />
	<%= body_input(f) %>
  </p>

  <p>
    <%= f.check_box :private_page %> <b>Make page private</b>
	
  <p>

  <p>
    <%= f.submit @button_text %>
  </p>
<%= textile_editor_initialize -%>