<h2><%=h @page.title %></h2>


<p class="wiki_body">
  <%= wikified_body(@page.body) %>
</p>

<div class="meta_info">
<%= @page.user_id %>
<%= link_to 'Edit', edit_page_path(@page) %>
<%= link_to('Previous revision', revision_page_url(:id => @page.permalink, :version => (@page.version - 1) )) if @page.versions.size > 1 %>
<%= link_to 'Home', pages_path %>
</div>