<h2><%=h @page.title %></h2>

<div id="flag">Login or sign up to flag this page.</div>
<script type="text/javascript">
if (Cookie.get('logged_in'))
  new Ajax.Updater('flag', '/flags/new?flaggable_type=<%= @page.class.name %>&flaggable_id=<%= @page.id %>', { asynchronous: true, method: 'get' })
else {
  alert('no cookie')
}
</script>

<p class="wiki_body">
  <%= wikified_body(auto_link(@page.body)) %>
</p>

<% content_for :right do -%>
<h5>Author: <%= author(@page.user_id) %></h5>
<ul class="meta_info">
	<li><%= link_to 'Edit this page', edit_page_path(@page) %></li>
	<li><%= link_to('View previous revision', revision_page_url(:id => @page.permalink, :version => (@page.version - 1) )) if (@page.versions.size > 1 && @page.version > 1) %></li>
	<li><%= link_to 'Return to home', pages_path unless @page.permalink == "home" %></li>
	<li><%= link_to "Delete this page and all revisions", page_path(@page), :method => :delete %></li>
	<li>Inbound links:
	  <ul>
	    <% @page.inbound_links.each do |link| -%>
	    <li><%= link_to link.from_page.title, link.from_page %> 
	    <% end %>
	  </ul>
  </li>
</ul>
<% end -%>