<h2><%=h @page.title %></h2>


<p class="wiki_body">
  <%= wikified_body(@page.body) %>
</p>

<% content_for :right do -%>
<h5>Author: <%= author(@page.user_id) %></h5>
<ul class="meta_info">
	<li><%= link_to 'Edit this page', edit_page_path(@page) %></li>
	<li><%= link_to('View previous revision', revision_page_url(:id => @page.permalink, :version => (@page.version - 1) )) if (@page.versions.size > 1 && @page.version > 1) %></li>
	<li><%= link_to 'Return to home', pages_path unless @page.permalink == "home" %></li>
</ul>
<% end -%>