<% if logged_in? %>
<% if previous = current_user.flagged?(flag) %>
  You flagged this <%=h previous.flaggable_type %> as <%=h previous.reason %> on <%=h previous.created_at %>
<% else %>
  <% form_for current_user.flags.build do |form| %>
    <%= form.hidden_field :flaggable_type, :value => params[:flaggable_type] || flag.class.name %>
    <%= form.hidden_field :flaggable_id,   :value => params[:flaggable_id]   || flag.id %>
    <select name="flag[reason]">
    <% flag.class.reasons.each do |reason| -%>
      <option name="<%=h reason.to_s %>"><%=h reason.to_s %></option>
    <% end -%>
    </select>
    <input type="submit" value="Flag this content" />
  <% end %>
<% end %>
<% else %>
  Login or sign up to flag content as inappropriate
<% end %>