<h2>Site settings</h2>

<%= error_messages_for :site %>

<% form_for(@site, :url => site_path) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Akismet key</b><br />
    <%= f.text_field :akismet_key %>
  </p>

  <p>
    <b>Akismet url</b><br />
    <%= f.text_field :akismet_url %>
  </p>

  <p>
    <%= f.check_box :require_approval %> <b>Require approval</b>
  </p>

  <p>
    <%= f.check_box :require_login_to_post %> <b>Require login to post</b>
  </p>

  <p>
    <%= f.check_box :disable_teh %><b>Disable teh</b>
  </p>

  <p>
    <%= f.submit "Save Changes" %>
  </p>
<% end %>
