<p>
  <b>Title:</b>
  <%=h @site.title %>
</p>

<p>
  <b>Akismet key:</b>
  <%=h @site.akismet_key %>
</p>

<p>
  <b>Akismet url:</b>
  <%=h @site.akismet_url %>
</p>

<p>
  <b>Require approval:</b>
  <%=h @site.require_approval %>
</p>

<p>
  <b>Require login to post:</b>
  <%=h @site.require_login_to_post %>
</p>

<p>
  <b>Disable teh:</b>
  <%=h @site.disable_teh %>
</p>



