<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Signal</title>
	<%= javascript_include_tag :all, :cache => "signal" %>
	<%=  stylesheet_link_tag :all, :cache => "signal" %>
</head>
<body id="<%= controller.controller_name %>">
	
	<div id="header">
		<%= render :partial => "shared/navbar" %>
		<h1><%= link_to "Signal", "/" %></h1>
	</div><!-- end #header -->
	
	<div id="container">
		<div id="main">
			<div id="flash">
			<% flash.each do |key, msg| %>
			  <%= content_tag :div, msg, :class => key %>
			<% end %>
			</div>
	
			<%= yield %>
		</div><!-- end #main -->
		
		<div id="right">
		  <%= yield :right %>
		</div><!-- end #right -->
		
	</div><!-- end #container -->
	
</body>
</html>