<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= site.title %> <%= ("- " + @page.title ) if @page %></title>
	<%= javascript_include_tag :all, :cache => "signal" %>
	<%=  stylesheet_link_tag :all, :cache => "signal" %>
</head>
<body id="<%= controller.controller_name %>">
	
<!-- <%= "This page was cached at #{Time.now()}" %> -->	

	<div id="header">
		<div id="navbar">
		  <%= render :partial => "shared/cacheable_navbar" %>
		</div>
		<h1><%= link_to site.title, wiki_page_url("home"), :id => "site_name" %></h1>
	</div><!-- end #header -->
	
	<div id="container">
		<div id="main">
			<div id="flash">
			  <p id="error_div_id"></p>
			  <p id="notice_div_id"></p>
			</div>
			<script type="text/javascript">
		    	Flash.transferFromCookies();
		    	Flash.writeDataTo('error', $('error_div_id'));
		    	Flash.writeDataTo('notice', $('notice_div_id'));
		  	</script>
	
			<%= yield %>
		</div><!-- end #main -->
		
		<div id="right">
		  <%= yield :right %>
		</div><!-- end #right -->
		
	</div><!-- end #container -->

</body>
</html>